<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="width:70px;">Status</th>
            <th>Name</th>
            <th>Host</th>
            <th style="width:150px;">Response Code</th>
            <th>Response Message</th>
            <th>Response Time</th>
        </tr>
    </thead>
    <tbody>
    <% @services.each do |service| %>
        <tr class="<%= "danger" unless service.status.is_up? %>">
            <td>
                <div class="circle <%= (service.status.is_up?) ? "green" : "red" %>" style="margin-left:18px; margin-top:2px;"></div>
            </td>
            <td><a href="/service/<%= service.slug %>"><%= service.name %></a></td>
            <td>
                <a href="<%= service.protocol%>://<%= service.url %><%= service.path %>" target="_blank"><%= service.url %></a>
            </td>
            <td><%= service.status.status_code %></td>
            <td><%= service.status.status_message %></td>
            <td><%= service.status.response_time %><%= " ms" unless service.status.response_time.nil? %></td>
        </tr>
    <% end %>
    </tbody>
</table>
