<!DOCTYPE html>
<html>
<head>
    <title>Service Status</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.relativetime.min.js"></script>
    <script type="text/javascript" src="/js/autorefresh.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#time").relativeTime({
                time_only: true,
                steps: {
                    "0"   : "Just now",
                    "10"  : "10 seconds ago",
                    "30"  : "30 seconds ago",
                    "1m"  : "1 minute ago",
                    "2m"  : "2 minutes ago",
                    "5m"  : "5 minutes ago",
                    "10m" : "10 minutes ago",
                    "20m" : "20 minutes ago",
                    "30m" : "half an hour ago",
                    "1h"  : "one hour ago",
                    "2h"  : "two hours ago",
                    "3h"  : "three hours ago",
                    "4h"  : "four hours ago",
                    "5h"  : "more than five hours ago"
                }
            });
        });
    </script>
</head>
<body>
</body>
    <div class="container" style="border-bottom:1px solid #E2E2E2;">
        <div class="page-header">
            <h1>
                <img src="/img/logo.png" id="logo" alt="logo" />
                Service Status
                <small id="time" class="pull-right" style="line-height:50px; font-style:italic;">
                    <%= Time.now.strftime("%T") %>
                </small>
            </h1>
        </div>
        <div>
            <%= yield %>
        </div>
        <div>
            <label style="display:block; text-align:center; margin:0 auto 10px auto;">
                <input type="checkbox" id="autorefresh" checked />
                <small style="font-weight:normal;">refresh automatically</smalk>
            </label>
        </div>
    </div>
</html>
